<div class="social-info">
    {if {config key="hooksocial_facebook"} }
    <a href="http://facebook.com/{config key=" hooksocial_facebook"}"><i class="fa fa-facebook"
                                                                         aria-hidden="true"></i></a>

    {/if}

    {if {config key="hooksocial_twitter"} }
    <a href="https://twitter.com/{config key=" hooksocial_twitter"}"><i class="fa fa-twitter"
                                                                        aria-hidden="true"></i></a>
    {/if}
    {if {config key="hooksocial_pinterest"} }
    <a href="https://www.pinterest.com/{config key=" hooksocial_pinterest"}"><i class="fa fa-pinterest"
                                                                                aria-hidden="true"></i></a>
    {/if}
    {if {config key="hooksocial_google"} }
    <a href="http://plus.google.com/{config key=" hooksocial_google"}" ><i class="fa fa-google-plus"
                                                                           aria-hidden="true"></i></a>
    {/if}
    {if {config key="hooksocial_instagram"} }
    <a href="http://instagram.com/{config key=" hooksocial_instagram"}"><i class="fa fa-instagram"
                                                                           aria-hidden="true"></i></a>
    {/if}
    {if {config key="hooksocial_youtube"} }
    <a href="{config key=" hooksocial_youtube"}"><i class="fa fa-youtube" aria-hidden="true"></i></a>
    {/if}
    {if {config key="hooksocial_rss"} }
    <a href="{config key=" hooksocial_rss"}"><i class="fa fa-rss" aria-hidden="true"></i></a>
    {/if}
</div>
